h2.title {
    display: none;
}
/*menu*/
.site-primera-infancia .main-menu{
  z-index: 10;
  width: 700px;
  margin: auto;
  -webkit-box-shadow: 5px 5px 0 0 rgba(218,98,5,1);
  box-shadow: 5px 5px 0 0 rgba(218,98,5,1);
  -webkit-border-radius: 0 20px 0 0;
  border-radius: 0 20px 0 0;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform:translate3d(0,0,0);
  -ms-transform:translate3d(0,0,0);
}
.site-primera-infancia .main-menu > .pane-content > ul > li:first-child a{
  -webkit-border-radius: 20px 0 0 0;
  border-radius: 20px 0 0 0;
}
.site-primera-infancia .main-menu > .pane-content > ul > li{
  -webkit-border-radius: 20px 0 0 0;
  border-radius: 20px 0 0 0;
}
.site-primera-infancia .main-menu > .pane-content > ul > li:last-child a{
  -webkit-border-radius: 0 20px 0 0;
  border-radius: 0 20px 0 0;
}
.site-primera-infancia .main-menu > .pane-content > ul > li:last-child{
  -webkit-border-radius: 0 20px 0 0;
  border-radius: 0 20px 0 0;
}
/*slider*/
.site-primera-infancia #primera_infancia_home_slider {
	height: 450px;
  overflow: hidden;
}
 .site-primera-infancia #primera_infancia_home_slider .views-slideshow-controls-top {
  position: relative;
	top: 165px;
	width: 100%;
  z-index: 10;
	padding: 0 0%;
}
.site-primera-infancia #primera_infancia_home_slider  #views_slideshow_cycle_main_contenidos_inclusivos-panel_pane_4 {
	position: relative;
    top: -20px;
}
.site-primera-infancia #primera_infancia_home_slider .views-slideshow-controls-text-pause {
		display: none;
}
.site-primera-infancia #primera_infancia_home_slider .views_slideshow_controls_text_next {
		float: right;
}
.site-primera-infancia #primera_infancia_home_slider .views-slideshow-controls-text-previous a {
		color: transparent;
		padding-bottom: 35px;
		background: url("../img/slider-btn-back.png") no-repeat center center / contain;
}
.site-primera-infancia #primera_infancia_home_slider .views-slideshow-controls-text-next a {
		color: transparent;
		padding-bottom: 35px;
		background: url("../img/slider-btn-next.png") no-repeat center center / contain;
}
.site-primera-infancia #primera_infancia_home_slider{
  margin: -95px 0 10px 0;
  overflow: hidden;
}
.site-primera-infancia #microsite_panel .slide .pane-content > .menu li.parent_menu > .children_menu{
	z-index:100;
}
/*social buttons*/
.site-primera-infancia .social-butons{
  height: 100px;
  background: url("../img/bg-social.png") no-repeat left center #5bd6c1;
  display: block;
}
.site-primera-infancia .social-butons .btn-info{
  background: #ff6e5f;
  -webkit-box-shadow: 0 5px 2px 0 #ef4343;
  box-shadow: 0 5px 2px 0 #ef4343;
  float: right;
  border-color: transparent;
  margin: 25px 10px 25px 0px;
}
.site-primera-infancia .social-butons .btn-twitter span, .site-primera-infancia .social-butons .btn-facebook span, .site-primera-infancia .social-butons .btn-youtube span{
  display: none;
}
.site-primera-infancia .social-butons .btn-twitter, .site-primera-infancia .social-butons .btn-facebook, .site-primera-infancia .social-butons .btn-youtube{
  height: 50px;
  width: 50px;
  float: right;
  display: block;
  margin:20px 5px;
}
.site-primera-infancia .social-butons .btn-twitter{
  background: url("../img/ico-twitter.png") no-repeat center center / contain;
}
.site-primera-infancia .social-butons .btn-facebook{
  background: url("../img/ico-face.png") no-repeat center center / contain;
}
.site-primera-infancia .social-butons .btn-youtube{
  background: url("../img/ico-youtube.png") no-repeat center center / contain;
}
/* tip pedagogico, preescolar es una nota y documentos de referencia*/
.site-primera-infancia .pedagogical-tip{
    background: url ("../img/img-tip-teacher.png") no-repeat ;
    background-color: #f9ede5;
    background-position: right;
}
/* slider tip pedagogico */
.site-primera-infancia .pedagogical-tip {
	height: 245px;
  padding: 10px 25px;
  /*overflow: hidden;*/
}
 .site-primera-infancia .pedagogical-tip .views-slideshow-controls-top {
  position: relative;
	top: 80px;
	width: 100%;
  z-index: 10;
	padding: 0 0%;
}
.site-primera-infancia .pedagogical-tip  #views_slideshow_cycle_main_contenidos_inclusivos-panel_pane_4 {
	position: relative;
    top: -20px;
}
.site-primera-infancia .pedagogical-tip .views-slideshow-controls-text-pause {
		display: none;
}
.site-primera-infancia .pedagogical-tip .views_slideshow_controls_text_next {
		float: right;
}
.site-primera-infancia .pedagogical-tip .views-slideshow-controls-text-previous a {
		color: transparent;
		padding-bottom: 35px;
		background: url("../img/slider-tip-btn-back.png") no-repeat center center / contain;
}
.site-primera-infancia .pedagogical-tip .views-slideshow-controls-text-next a {
		color: transparent;
		padding-bottom: 35px;
		background: url("../img/slider-tip-btn-next.png") no-repeat center center / contain;
}
.site-primera-infancia .pedagogical-tip{
  margin: -16px 0 0px 0;
}
.site-primera-infancia .pedagogical-tip .views-field .field-content p, .site-primera-infancia .pedagogical-tip .pedagogical-tip-title a{
  padding:10px 10px 10px 30px;
  width: 70%;
  background: #05ab99;
  color:#ffffff;
  margin-left: 60px!important;
}
.site-primera-infancia .pedagogical-tip .pedagogical-tip-title a:hover{
  text-decoration: none;
}
.site-primera-infancia .pedagogical-tip .pedagogical-tip-title a{
  border-bottom: 1px solid #ffffff;
  display: block;
  text-transform: uppercase;
  text-align: left;
  padding:5px 10px 5px 30px;
}
.site-primera-infancia .preschool-home-content{
  background: #f9ede5;
  padding: 10px 25px;
}
.site-primera-infancia .preschool-home-content h2{
  background: #f78747;
  text-transform: uppercase;
  color: #ffffff;
  display: block;
  -webkit-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  margin: 0px;
  padding:5px 20px;
  font-weight: bold;
  margin: 0px -15px 0 0;
}
.site-primera-infancia .preschool-home-content h3{
  margin:15px 0px;
  text-transform: uppercase;
  color:#000000;
  font-weight: bold;
}
.site-primera-infancia .preschool-home-content .bg-white{
  background-color: white;
}
.site-primera-infancia .preschool-home-content .bg-white p, .site-primera-infancia .preschool-home-content .bg-white h3{
  margin:15px!important;
}
.site-primera-infancia .preschool-home-content .tecnical-documents{}
.site-primera-infancia .preschool-home-content .tecnical-documents h3{
  background: #ff6e5f;
  text-transform: uppercase;
  color: #ffffff;
  display: block;
  padding: 5px 20px;
  font-weight: bold;
  margin: 0px -15px !important;
}
.site-primera-infancia .events-content{
  margin:15px 0;
}
.site-primera-infancia .events-content .pane-content{
  height: 335px;
  overflow-y: scroll;
}
.site-primera-infancia .events-content h2{
  display:block;
  background: #05ab99 url("../img/ico-eventos.png") no-repeat;
  background-position: 100px -5px;
  color:#ffffff;
  text-transform: uppercase;
  margin: 0px 0 0 -15px;
  padding:5px 15px;
}
.site-primera-infancia .events-content .views-row{
  margin: 10px 0px;
  max-height: 145px;
  overflow: hidden;
}
.site-primera-infancia .events-content .views-row img, .site-primera-infancia .events-content .views-row a, .site-primera-infancia .events-content .views-row p{
  display: inline;
}
.site-primera-infancia .events-content .views-row img{
  /*width: 30%;*/
}
.site-primera-infancia .events-content .views-row a, .site-primera-infancia .events-content .views-row p{
  width: 70%;
}
.site-primera-infancia .preschool-home-content .col-md-4.bg-white {
  width: 32%;
}
.site-primera-infancia .preschool-home-content .col-md-8.bg-white{
  width: 65%;
  margin-right: 15px;
}
.site-primera-infancia .library{
  display: block;
  background: url("../img/bg-library.jpg") no-repeat;
  height: 370px;
  margin: 15px 0;
}
.site-primera-infancia .library span{
  -webkit-font-smoothing:initial!important;
  font-weight: bold;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0.2);
  line-height: 33px;
  color:#4b396d;
  margin: 0px -15px;
  padding: 5px 20px;
  display: inline-block;
  font-size: 22px;
}
.site-primera-infancia .preschool-home-content .bg-white.tecnical-documents h3{
  margin: 0 -15px!important;
  padding: 10px 20px;
}
.site-primera-infancia .preschool-home-content .bg-white.tecnical-documents ul li{
  background: #b2e6f9;
  margin:10px 0;
}
.site-primera-infancia .preschool-home-content .bg-white.tecnical-documents a {
  display:inline-block;
  width: 30%;
}
.site-primera-infancia .preschool-home-content .bg-white.tecnical-documents .boddy-doc{
  width: 57%;
  display:inline-block;
}
.site-primera-infancia .preschool-home-content .bg-white.tecnical-documents .dwd-icon{
  width: 10%;
  display:inline-block;
}
