h2.title {
    display: none;
}
/*slider*/
.site-primera-infancia #primera_infancia_home_slider {
	height: 450px;
  overflow: hidden;
}
 .site-primera-infancia #primera_infancia_home_slider .views-slideshow-controls-top {
  position: relative;
	top: 165px;
	width: 100%;
  z-index: 10;
	padding: 0 0%;
}
.site-primera-infancia #primera_infancia_home_slider  #views_slideshow_cycle_main_contenidos_inclusivos-panel_pane_4 {
	position: relative;
    top: -20px;
}
.site-primera-infancia #primera_infancia_home_slider .views-slideshow-controls-text-pause {
		display: none;
}
.site-primera-infancia #primera_infancia_home_slider .views_slideshow_controls_text_next {
		float: right;
}
.site-primera-infancia #primera_infancia_home_slider .views-slideshow-controls-text-previous a {
		color: transparent;
		padding-bottom: 35px;
		background: url("../img/slider-btn-back.png") no-repeat center center / contain;
}
.site-primera-infancia #primera_infancia_home_slider .views-slideshow-controls-text-next a {
		color: transparent;
		padding-bottom: 35px;
		background: url("../img/slider-btn-next.png") no-repeat center center / contain;
}
.site-primera-infancia #primera_infancia_home_slider{
  margin: -16px 0 10px 0;
  overflow: hidden;
}
.site-primera-infancia #microsite_panel .slide .pane-content > .menu li.parent_menu > .children_menu{
	z-index:100;
}
/*social buttons*/
.site-primera-infancia .social-butons{
  height: 90px;
  background: url("../img/bg-social.png") no-repeat left center #5bd6c1;
  display: block;
}
.site-primera-infancia .social-butons .btn-info{
  background: #ff6e5f;
  -webkit-box-shadow: 0 5px 2px 0 #ef4343;
  box-shadow: 0 5px 2px 0 #ef4343;
  float: right;
  border-color: transparent;
  margin: 25px 10px 25px 0px;
}
.site-primera-infancia .social-butons .btn-twitter span, .site-primera-infancia .social-butons .btn-facebook span, .site-primera-infancia .social-butons .btn-youtube span{
  display: none;
}
.site-primera-infancia .social-butons .btn-twitter, .site-primera-infancia .social-butons .btn-facebook, .site-primera-infancia .social-butons .btn-youtube{
  height: 50px;
  width: 50px;
  float: right;
  display: block;
  margin:20px 5px;
}
.site-primera-infancia .social-butons .btn-twitter{
  background: url("../img/ico-twitter.png") no-repeat center center / contain;
}
.site-primera-infancia .social-butons .btn-facebook{
  background: url("../img/ico-face.png") no-repeat center center / contain;
}
.site-primera-infancia .social-butons .btn-youtube{
  background: url("../img/ico-youtube.png") no-repeat center center / contain;
}
/* tip pedagogico, preescolar es una nota y documentos de referencia*/
.site-primera-infancia .pedagogical-tip{
    background: #f9ede5;
}
/* slider tip pedagogico */
.site-primera-infancia .pedagogical-tip {
	height: 300px;
  padding: 50px;
  /*overflow: hidden;*/
}
 .site-primera-infancia .pedagogical-tip .views-slideshow-controls-top {
  position: relative;
	top: 95px;
	width: 100%;
  z-index: 10;
	padding: 0 0%;
}
.site-primera-infancia .pedagogical-tip  #views_slideshow_cycle_main_contenidos_inclusivos-panel_pane_4 {
	position: relative;
    top: -20px;
}
.site-primera-infancia .pedagogical-tip .views-slideshow-controls-text-pause {
		display: none;
}
.site-primera-infancia .pedagogical-tip .views_slideshow_controls_text_next {
		float: right;
}
.site-primera-infancia .pedagogical-tip .views-slideshow-controls-text-previous a {
		color: transparent;
		padding-bottom: 35px;
		background: url("../img/slider-btn-back.png") no-repeat center center / contain;
    background-color:red;
}
.site-primera-infancia .pedagogical-tip .views-slideshow-controls-text-next a {
		color: transparent;
		padding-bottom: 35px;
		background: url("../img/slider-btn-next.png") no-repeat center center / contain;
    background-color:red;
}
.site-primera-infancia .pedagogical-tip{
  margin: -16px 0 10px 0;
}
.site-primera-infancia .pedagogical-tip .views-field .field-content p{
  padding:10px 10px 10px 30px;
  width: 70%;
  background: #05ab99;
}
