.content h1, .content h2, .content h3, .content h4{
    margin-bottom:30px;
    font-weight:normal;
    color:#1F2B49;
}
.site-primera-infancia .content h1{
    font-size:30px;
    padding-left:10px;
}
.site-primera-infancia .content h2{
    font-size: 20px;
    color: #502280;
    margin: 0 15px 10px;
    font-weight: 600;
}
.site-primera-infancia .content h3{
    font-size: 16px;
    color: #502280;
    font-weight: 600;
    margin: 0 0 23px;
    display: inline-block;
    padding-right: 10px;
}
.site-primera-infancia .content h4{
    color: #007C9F;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
}
.site-primera-infancia .pad-container p{
    margin:5px 15px 20px !important;
    text-align: justify;
}
.site-primera-infancia .pad-container i{
    color: #502280;
    font-weight: 600;
}
.site-primera-infancia .pad-container ol{
    counter-reset: li;
    padding: 0 0 20px 40px;
}
.site-primera-infancia .pad-container ol li::before{
    content: counter(li)".";
    color: #502280;
    display: inline-block;
    width: 2em;
    margin-left: -2em;
    text-align: center;
    font-weight: 500;
}
.site-primera-infancia .pad-container ol li {
		counter-increment: li;
    margin: 0 15px 15px 0;
    text-align: justify;
}
.site-primera-infancia .content p a{text-decoration: underline;}
.site-primera-infancia .content .callout{
    margin:30px 10px 10px 10px;
    display:inline-block;
}
.site-primera-infancia .content .callout p{
    color: #767679;
    padding: 5px 5px 15px 5px;
    font-size: 23px;
    border-top: 1px solid #B8B9BD;
    border-bottom: 1px solid #B8B9BD;
    text-align: center;
    line-height: 29px;
}
.site-primera-infancia .content .callout p span{
    font-size:36px;
    line-height: 29px;
    color: #767679;
}
/*verificar que estos estilos siempre apunten al contenido para no modificar estilos del menú*/
.site-primera-infancia .content .aliados10-section-content ul{
    margin:0 60px 20px 60px!important;
}
.site-primera-infancia .content .aliados10-section-content ul li{
    text-indent: -10px;
    /*cambiar el valor a positivo según la necesidad*/
}
.site-primera-infancia .content .aliados10-section-content ul li:before {
    content: "• ";
    color: #8DB530;
    font-weight: bold;
}
.site-primera-infancia .content .table-responsive{
    width:90%;
    margin:auto;
}
.site-primera-infancia .content p .amplification{

}
/***MENÚ***/
/*cuando todos los hijos del menú son iguales*/
.site-primera-infancia .main-menu > .pane-content > ul > li{
  display: inline-block;
  margin-right: -4px;
  box-sizing: border-box;
  height: 75px;
  background: #f78747 !important;
}
.site-primera-infancia .main-menu > .pane-content > ul > li:first-child{width: 15%;}
.site-primera-infancia .main-menu > .pane-content > ul > li:nth-child(2){width: 16%;}
.site-primera-infancia .main-menu > .pane-content > ul > li:nth-child(3){width: 15%;}
.site-primera-infancia .main-menu > .pane-content > ul > li:nth-child(4){width: 22%;}
.site-primera-infancia .main-menu > .pane-content > ul > li:nth-child(5){width: 15%;}
.site-primera-infancia .main-menu > .pane-content > ul > li:last-child{
	border-right: none;
  width: 17.1%;
}
/*cuando el menú tiene difirentes tamaños para cada hijo o imágenes*/
.site-primera-infancia .main-menu > .pane-content > ul > li:first-child a{
	background:url(../img/inicio.png) #f78747 no-repeat center center!important;
}
.site-primera-infancia .main-menu > .pane-content > ul > li:nth-child(2) a{
	background:url("../img/ninosyninas.png") #f78747 no-repeat center center!important;
}
.site-primera-infancia .main-menu > .pane-content > ul > li:nth-child(3) a{
	background:url("../img/familias.png")#f78747 no-repeat center center!important;
}
.site-primera-infancia .main-menu > .pane-content > ul > li:nth-child(4) a{
	background:url("../img/secretariasdeeducacion.png") #f78747 no-repeat center center!important;
}
.site-primera-infancia .main-menu > .pane-content > ul > li:nth-child(5) a{
	background:url("../img/maestrosymaestras.png") #f78747 no-repeat center center!important;
}
.site-primera-infancia .main-menu > .pane-content > ul > li:last-child a{
  background:url("../img/comunidades.png") #f78747 no-repeat center center!important;
	/*width:16%;*/
}
.site-primera-infancia #microsite_panel .main-menu, .site-primera-infancia #microsite_panel .main-menu > div .menu{
	/*background-color: #a4579d !important;*/
	border-bottom: none;
  padding: 0;
}
.site-primera-infancia .main-menu li a {
	font-size: 11px !important;
  font-weight: 500 !important;
	color: #ffffff !important;
	border: none !important;
  padding: 5px 0px!important;
  text-transform: uppercase;
  height: 75px;
}
/*.site-primera-infancia .main-menu .pane-content ul li a{background:#ffae55 !important;}*/
.site-primera-infancia .main-menu .pane-content ul li a:hover{
  text-decoration: none;
  color: #ffffff !important;
  background-color : #79649b !important;
}
.site-primera-infancia .inclusive-contents-panel .slide .pane-content > .menu li.parent_menu:hover > .children_menu,
.site-primera-infancia #microsite_panel .slide .pane-content > .menu li.parent_menu > .children_menu{
  top: 93%;
	height:0px;
  background: transparent;
}
.site-primera-infancia .inclusive-contents-panel .slide .pane-content > .menu:hover li.parent_menu:hover > .children_menu:hover,
.site-primera-infancia #microsite_panel .slide .pane-content > .menu:hover li.parent_menu:hover > .children_menu,
.site-primera-infancia #microsite_panel .slide .pane-content > .menu:hover li.parent_menu > .children_menu:hover{height:auto;}
.site-primera-infancia #microsite_panel .pane-content > .menu li.parent_menu > .children_menu li a{
  background-color: rgba(164,87,157,0.9) !important;
  color: #f4bd54 !important;
  line-height: 14px;
  font-size: 14px!important;
  height: auto;
}
.site-primera-infancia #microsite_panel .pane-content > .menu li.parent_menu > .children_menu li{
  background-color: rgba(255,255,255,0.5);
	border-bottom: solid 1px #B7CF80;
  display: block;
}
.site-primera-infancia #microsite_panel .pane-content > .menu li.parent_menu > .children_menu li:first-child{
  border-top: solid 4px #a4579d;
}
.site-primera-infancia #microsite_panel .pane-content > .menu li.parent_menu > .children_menu li:last-child{border-bottom:none;}
.site-primera-infancia #microsite_panel .pane-content > .menu li.parent_menu > .children_menu li a:hover{
  background: #f4bd54 !important;
  color: #a4579d !important;
  padding: 18px 15px!important;
  display: block;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
/*******SLIDER******/
#aliados-10-home-slider {
		/*height: 320px;*/
		overflow: hidden;
		padding: 15px 15px;
		margin-bottom: 15px;
}

 #aliados-10-home-slider .views-slideshow-controls-top {
		position: absolute;
	  top: 33%;
		width: 97%;
		z-index: 4;
		padding: 0 3%;
}

.site-primera-infancia #aliados-10-home-slider  #views_slideshow_cycle_main_edth_vista-panel_pane_4 {
		position: relative;
    top: -6vw;
}

.site-primera-infancia #aliados-10-home-slider .views-slideshow-controls-text-pause {
		display: none;
}

.site-primera-infancia #aliados-10-home-slider .views_slideshow_controls_text_next {
		float: right;
}

.site-primera-infancia #aliados-10-home-slider .views-slideshow-controls-text-previous a {
		color: transparent;
		padding-bottom: 35px;
		background: url("../img/previous_slide_icon.png") no-repeat center center / contain;
}

.site-primera-infancia #aliados-10-home-slider .views-slideshow-controls-text-next a {
		color: transparent;
		padding-bottom: 35px;
		background: url("../img/next_slide_icon.png") no-repeat center center / contain;
}

.site-primera-infancia #aliados-10-home-slider #views_slideshow_cycle_teaser_section_edth_vista-panel_pane_4,
.site-primera-infancia #aliados-10-home-slider .views_slideshow_slide,
.site-primera-infancia #aliados-10-home-slider .views_slideshow_slide img {
		width: 100% !important;
}

.site-primera-infancia #aliados-10-home-slider .views_slideshow_slide > div {
		position: relative;
}

.site-primera-infancia #aliados-10-home-slider .views_slideshow_slide > div .views-field-body {
  position: absolute;
  top: 10%;
  width: 76%;
  right: 12%;
  background: transparent;
  padding: 15px;
  color: white;
}
.site-primera-infancia #aliados-10-home-slider .views_slideshow_slide .views-field-body .field-content p{
  color:#ffffff!important;
  background-color:rgba(255,255,255,0)!important;
}
.site-primera-infancia #aliados-10-home-slider .views_slideshow_slide label {
		color: #ffffff;
		font-size: 36px;
}

.site-primera-infancia #aliados-10-home-slider .views_slideshow_slide .field-content p {
	  font-size: 13px;
    margin:0 25% 20px 0!important;
}

.site-primera-infancia #aliados-10-home-slider .views-more-link {
  display: block;
  background: transparent;
  color: white;
  margin: 15px 0px 0px;
  padding: 4px 20px;
  position: absolute;
  border: 1px solid #ffffff;
}
/****TABLAS****/
.site-primera-infancia .content .table-responsive{
  margin-bottom: 15px;
}
.site-primera-infancia .content .table-responsive > thead > tr > th, .site-primera-infancia .content .table-responsive > tbody > tr > th,.site-primera-infancia .content .table-responsive > tfoot > tr > th,.site-primera-infancia .content .table-responsive > thead > tr > td,.site-primera-infancia .content .table-responsive > tbody > tr > td,.site-primera-infancia .content .table-responsive > tfoot > tr > td {
    border:none;
}
.site-primera-infancia .content table>thead{
    background: rgb(141, 181, 48);
    border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
}
.site-primera-infancia .content table>thead>tr>th{
  background: rgba(163,194,89,1);
  background: -moz-linear-gradient(top, rgba(163,194,89,1) 0%, rgba(141,181,48,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(163,194,89,1)), color-stop(100%, rgba(141,181,48,1)));
  background: -webkit-linear-gradient(top, rgba(163,194,89,1) 0%, rgba(141,181,48,1) 100%);
  background: -o-linear-gradient(top, rgba(163,194,89,1) 0%, rgba(141,181,48,1) 100%);
  background: -ms-linear-gradient(top, rgba(163,194,89,1) 0%, rgba(141,181,48,1) 100%);
  background: linear-gradient(to bottom, rgba(163,194,89,1) 0%, rgba(141,181,48,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a3c259', endColorstr='#8db530', GradientType=0 );
}
.site-primera-infancia .content table>thead>tr>th:first-child{color:rgba(255,255,255,0);}
.site-primera-infancia .content table thead th a, table thead th a:hover,
.site-primera-infancia .content table thead th, .site-primera-infancia .content table thead th:hover {
    text-decoration: none;
    color:white;
    text-shadow: none;
}
/*para agregar bordes redondeados*/
/*.site-primera-infancia .content table>thead>tr>th:first-child{border-radius: 10px 0px 0px 0px;-moz-border-radius: 10px 0px 0px 0px;-webkit-border-radius: 10px 0px 0px 0px;}*/
/*.site-primera-infancia .content table>thead>tr>th:last-child{border-radius: 0px 10px 0px 0px;-moz-border-radius:  0px 10px 0px 0px;-webkit-border-radius:  0px 10px 0px 0px;}*/
.site-primera-infancia .content .table-responsive{border: 0px solid rgba(110,114,118,1);}
.site-primera-infancia .content .table-responsive > thead > tr > th{text-align: center;}
.site-primera-infancia .content .table-responsive > thead > tr > th,.site-primera-infancia .content .table-responsive > thead > tr > td{border-right: 1px solid rgba(110,114,118,0.2);color: #ffffff;}
.site-primera-infancia .content .table-responsive > tbody > tr > th,.site-primera-infancia .content .table-responsive > tfoot > tr > th,.site-primera-infancia .content .table-responsive > tbody > tr > td,.site-primera-infancia .content .table-responsive > tfoot > tr > td {
    border-right: 1px solid rgba(110,114,118,0.2);
}
.site-primera-infancia .content .table-responsive > thead > tr > th:first-child,.site-primera-infancia .content .table-responsive > thead > tr > td:first-child{color:#ffffff;}
.site-primera-infancia .content .table-responsive > tbody > tr > th:first-child,.site-primera-infancia .content .table-responsive > tfoot > tr > th:first-child, .content .table-responsive > tbody > tr > td:first-child, .content .table-responsive > tfoot > tr > td:first-child {
    border-left: none;
    text-align: left;
}
.site-primera-infancia .content .table-responsive > tbody > tr > th:last-child,.site-primera-infancia .content .table-responsive > tfoot > tr > th:last-child, .site-primera-infancia .content .table-responsive > tbody > tr > td:last-child, .site-primera-infancia .content .table-responsive > tfoot > tr > td:last-child,.site-primera-infancia .content .table-responsive > thead > tr > th:last-child, .table-responsive > thead > tr > td:last-child {
    border-right: none;
}
.site-primera-infancia .content .table-responsive tbody tr:nth-child(odd){
    background: #f0f2f6;
}
.site-primera-infancia .content .table-responsive tbody tr:nth-child(even){
    background: #f8f9fb;
}
.site-primera-infancia .content .table-responsive tbody tr:hover{
    background: #8FC1D3;
    -webkit-transition: all 150ms ease-out;
    -moz-transition: all 150ms ease-out;
    -ms-transition: all 150ms ease-out;
    -o-transition: all 150ms ease-out;
    transition: all 150ms ease-out;
}
.site-primera-infancia .content .table-responsive tbody tr:hover th, .table-responsive tbody tr:hover td{
    color:#ffffff;
    -webkit-transition: all 150ms ease-out;
    -moz-transition: all 150ms ease-out;
    -ms-transition: all 150ms ease-out;
    -o-transition: all 150ms ease-out;
    transition: all 150ms ease-out;
}
.site-primera-infancia .content .table-responsive tbody tr{
    border-bottom: none;
}
.site-primera-infancia .content .table-responsive thead tr:last-child{
    background: #A2C259;
    border-bottom: solid 1px rgba(110,114,118,0.5);
}
.site-primera-infancia .content .table-responsive tbody tr td:last-child{
    min-width:100px;
}
.site-primera-infancia .content .table-responsive td > input {
    background: #535d87;
    border: 1px solid #04143b;
}
.site-primera-infancia .content .table-responsive td > a {
    color: #243268;
    display: inline-block;
}
.site-primera-infancia .content .table-responsive table tr th{
    text-shadow:none;
}
.site-primera-infancia .content .table-responsive tr,.site-primera-infancia .content .table-responsive tr.even {
  background-color: #F9F9F9;
  border-bottom: 0px;
  border-top: 0px;
}
.site-primera-infancia .content tfoot tr td:last-child {border-right: none;}
.site-primera-infancia .content thead th, .site-primera-infancia .content thead td{padding:4px 3px 4px 3px;}
.site-primera-infancia .content tbody td{padding:2px 3px 2px 3px;}
.site-primera-infancia .content tfoot td{padding:3px 3px 3px 3px;}

.site-primera-infancia .content .faq-accordion .views-row > div {
    border: 1px solid #909090;
    border-radius: 0;
}

.site-primera-infancia .content .faq-accordion .views-row > div:first-child {
    background: #eff1f5;
}

.site-primera-infancia .content .faq-accordion .views-row .ui-accordion-header {
    margin-top: 0;
}

.site-primera-infancia .content .faq-accordion .views-row > div:first-child a {
    text-align: left;
}

.site-primera-infancia .content .faq-accordion .views-row .ui-state-active {
    font-weight: 700;
}

.site-primera-infancia .content .faq-accordion .views-row .ui-state-default {
    font-weight: 500;
}

.site-primera-infancia .content .faq-accordion .views-row > div:first-child span {
    color: #122747;
}

.site-primera-infancia .content .faq-accordion .views-row .ui-accordion-content-active {
    padding: 20px 20px 0 !important;
}

.site-primera-infancia .content .faq-accordion .views-row {
    margin-bottom: -2px;
}

.site-primera-infancia .content .faq-accordion .views-row-last {
    margin-bottom: 0;
}

.site-primera-infancia .content .pager li > a {
    padding: 0;
    border-radius: 0;
    border: none;
    background-color: white;
    font-weight: bold;
    color: black;
}

.site-primera-infancia .content .pager .pager-current {
    background-color: white;
    color: #A4579D;
    width: 40px;
}

.site-primera-infancia .content .pager .pager-first a,
.site-primera-infancia .content .pager .pager-previous a,
.site-primera-infancia .content .pager .pager-next a,
.site-primera-infancia .content .pager .pager-last a {
    background: url(../img/pager-spritesheet.png);
}

.site-primera-infancia .content .pager .pager-first a {
    background-position: 3px -20px;
}

.site-primera-infancia .content .pager .pager-previous a {
    background-position: 3px 3px;
}

.site-primera-infancia .content .pager .pager-next a {
    background-position: -20px 3px;
}

.site-primera-infancia .content .pager .pager-last a {
    background-position: -21px -20px;
}

.pager-previous + .pager-item:before, .pager-item + .pager-current:before,
.pager-current + .pager-item:before, .pager-item + .pager-item:before,
.pager-item + .pager-next:before {
    content: " | ";
    color: black;
    font-weight: bold;
}

.pager-item + .pager-current:before {
    padding-right: 7px;
}

.site-primera-infancia .content .btn-pdf-file {
    background: #ededed;
    border: 1px solid #818181;
}

.site-primera-infancia .content .btn-pdf-file:hover {
    background: #cdced0;
}

.site-primera-infancia .content .btn-page-link label,
.site-primera-infancia .content .btn-pdf-file label {
    font-size: 20px;
    font-weight: 500;
}

.site-primera-infancia .content .btn-pdf-file label {
    color: #818181;
    padding-top: 3px;
}

.site-primera-infancia .content .pdf-file-icon {
    background: url(../images/pdf-icons.png);
    height: 36px;
    width: 28px;
    display: block;
    float: right;
}

.site-primera-infancia .content .btn-page-link {
    background: #ee0029;
    border: 1px solid #c00025;
    white-space: pre-line;
}
.site-primera-infancia .content .btn-page-link:hover {
    background: #122747;
}
.site-primera-infancia .content .btn-page-link label {
    white-space: pre-line;
    color: white;
}
.site-primera-infancia .section_content .breadcrumb{
  margin-bottom: 0px;
  height: 40px;
}
@media (min-width: 768px){
    .site-primera-infancia .content .modal-dialog {
        width: 600px;
        margin: 15% auto;
    }
}
@media (min-width: 1100px){
  /*Es importante definir el content inicialmente*/
  .site-primera-infancia .main_container .section_content {
    width: 1024px!important;
  }
}
