.col-md-8.bg-white {
	padding-right: 0;
}

.col-md-8.bg-white h2 {
    width: 100%;
}

.col-md-8.bg-white .panel-heading {
	padding: 0;
}
.col-md-8.bg-white .panel-title {
	margin-bottom: 0;
}

.col-md-8.bg-white .panel-group {
	margin: 2px 0;
}

.col-md-8.bg-white .panel-group .panel+.panel {
	margin-top: 1px;
}

.col-md-8.bg-white .panel-title a {
	background: #5cd5c2;
    display: block;
    color: white;
    padding: 10px 15px;
    text-align: left;
}

.col-md-8.bg-white .panel-title a:hover,
.col-md-8.bg-white .panel-title a.collapsed:hover {
	background: #5dada1 !important;
}

.col-md-8.bg-white .panel-title a[aria-expanded="true"] {
	background: #f78747 !important;
}

.col-md-8.bg-white .panel-title a.collapsed {
	background: #5cd5c2 !important;
}
