.site-primera-infancia .home-accordion {
	padding-right: 0;
}

.site-primera-infancia .home-accordion h2 {
    width: 100%;
}

.site-primera-infancia .home-accordion .panel-heading, .site-primera-infancia #accordion .panel-heading {
	padding: 0;
}

.site-primera-infancia .home-accordion .panel-title, .site-primera-infancia #accordion .panel-title {
	margin-bottom: 0;
}

.site-primera-infancia .home-accordion .panel-group, .site-primera-infancia #accordion .panel-group {
	margin: 2px 0;
}

.site-primera-infancia .home-accordion .panel-group .panel+.panel, .site-primera-infancia #accordion .panel-group .panel+.panel{
	margin-top: 1px;
}

.site-primera-infancia .home-accordion .panel-title a, .site-primera-infancia #accordion .panel-title a {
		background: #5cd5c2;
    display: block;
    color: white;
    padding: 10px 15px;
    text-align: left;
		text-decoration: none;
}
.site-primera-infancia .home-accordion .panel-title a, .site-primera-infancia #accordion .panel-title a:hover{
	text-decoration: none;
	-webkit-transition: all 200ms ease-out;
	-moz-transition: all 200ms ease-out;
	-ms-transition: all 200ms ease-out;
	-o-transition: all 200ms ease-out;
	transition: all 200ms ease-out;
}
.site-primera-infancia .home-accordion .panel-title a:hover,
.site-primera-infancia .home-accordion .panel-title a.collapsed:hover,
.site-primera-infancia #accordion .panel-title a:hover,
.site-primera-infancia #accordion .panel-title a.collapsed:hover{
	background: #5dada1 !important;
	-webkit-transition: all 200ms ease-out;
	-moz-transition: all 200ms ease-out;
	-ms-transition: all 200ms ease-out;
	-o-transition: all 200ms ease-out;
	transition: all 200ms ease-out;
}

.site-primera-infancia .home-accordion .panel-title a[aria-expanded="true"],
.site-primera-infancia #accordion .panel-title a[aria-expanded="true"]{
	background: #f78747 !important;
}

.site-primera-infancia .home-accordion .panel-title a.collapsed,
.site-primera-infancia #accordion .panel-title a.collapsed {
	background: #5cd5c2 !important;
}

.site-primera-infancia .modal-dialog .modal-body,
.site-primera-infancia #accordion .panel-title a.collapsed {
	padding: 15px 24px;
}

.site-primera-infancia .content #accordion h3{
	margin: 8px 0px 0px;
	background: #16c0eb;
	color: #ffffff;
	padding: 8px;
	font-family: Helvetica,Arial,sans-serif;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.site-primera-infancia .content #accordion a.btn.btn-danger.text-right{
	float: right;
	margin: 10px;
	background: #ff6e5f;
	border-color: #ff6e5f;
	font-size: 12px;
	padding: 10px 20px;
}
.site-primera-infancia .content #accordion a.btn.btn-danger.text-right:hover{
	background-color: #ef4343;
	-webkit-transition: all 200ms ease-out;
	-moz-transition: all 200ms ease-out;
	-ms-transition: all 200ms ease-out;
	-o-transition: all 200ms ease-out;
	transition: all 200ms ease-out;
}
.site-primera-infancia .content #accordion p.lead{
	font-size: 16px;
	margin: 5px 20px 15px!important;
}
.site-primera-infancia .content #accordion ol li{
	list-style: initial;
}
.site-primera-infancia .modal-dialog .modal-body p {
	margin: 0 0 10px !important;
}

.site-primera-infancia .modal-dialog .modal-content {
	background: #fbfbfb;
}

.site-primera-infancia .modal-dialog .modal-content .modal-body .list-group li {
	background: transparent url('http://aprende.colombiaaprende.edu.co/ckfinder/userfiles/images/img-bullet.png') no-repeat 8px 15px / auto;
	border: none;
	padding: 10px 15px 10px 25px;
}

.site-primera-infancia .modal-dialog .modal-content .modal-body ol li {
	list-style: decimal;
}

.site-primera-infancia .modal-dialog .modal-header {
	border: none;
}

.site-primera-infancia .modal-dialog .modal-header .close {
	background: #5bd6c1;
	opacity: 0.8;
	border-radius: 50%;
	font-size: 35px;
	height: 30px;
	width: 30px;
	line-height: 0;
	padding: 0px 0 8px;
	text-align: center;
	font-weight: 500;
	color: white;
}

.site-primera-infancia .modal-dialog .modal-header .close:hover {
	background: #317f72 !important;
	-webkit-transition: all 200ms ease-out;
	-moz-transition: all 200ms ease-out;
	-ms-transition: all 200ms ease-out;
	-o-transition: all 200ms ease-out;
	transition: all 200ms ease-out;
}

.site-primera-infancia .modal-dialog .modal-header h4 {
	color: #4c4c4c;
	margin: 0;
	text-transform: none;
	font-size: 30px !important;
	border-bottom: 1px solid #4c4c4c;
	display: inline-block;
}

.site-primera-infancia .modal-dialog .table tbody {
	border: 1px solid #666;
}

.site-primera-infancia .modal-dialog .table tr,
.site-primera-infancia .modal-dialog .table th,
.site-primera-infancia .modal-dialog .table td {
	border: none;
	background: #e3e3e3 !important;
}

.site-primera-infancia .modal-dialog .table tr th:first-child,
.site-primera-infancia .modal-dialog .table tr td:first-child {
	border-right: 1px solid #666;
}

.site-primera-infancia .modal-dialog .table tr th {
	color: #4c4c4c;
	font-size: 16px;
	font-weight: bolder !important;
}

.site-primera-infancia #container_buttons .modal-body li,
.site-primera-infancia .secretariate-content .link-container li,
.site-primera-infancia .teachers-content .link-container li,
.site-primera-infancia .family-content .link-container li {
	background: #b3e6f9;
	color: #087d6d;
	text-transform: uppercase;
	font-size: 20px;
	margin-bottom: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-height: 45px;
	padding-left: 15px;
}

.site-primera-infancia #container_buttons .modal-body li a,
.site-primera-infancia .secretariate-content .link-container li a,
.site-primera-infancia .teachers-content .link-container li a,
.site-primera-infancia .family-content .link-container li a {
	float: right;
	background: #5cd5c2;
	color: white;
	font-size: 13px;
	width: 20%;
	height: 55px;
	min-height: 55px;
	min-width: 93px;
	align-items: center;
	display: flex;
	justify-content: center;
	line-height: 1;
}

.site-primera-infancia #container_buttons .modal-body li a:hover,
.site-primera-infancia .secretariate-content .link-container li a:hover,
.site-primera-infancia .teachers-content .link-container li a:hover,
.site-primera-infancia .family-content .link-container li a:hover {
	text-decoration: none;
	background-color: #3bb9a5;
	-webkit-transition: all 200ms ease-out;
	-moz-transition: all 200ms ease-out;
	-ms-transition: all 200ms ease-out;
	-o-transition: all 200ms ease-out;
	transition: all 200ms ease-out;
}

.site-primera-infancia .library-content p {
	text-align: justify;
}

.site-primera-infancia .modal-cont-boys-girls .views-row-1 {
	margin-top: 100px;
}

.site-primera-infancia .modal-cont-boys-girls .views-field-title {
	margin: 15px;
	display: flex;
}

.site-primera-infancia .modal-cont-boys-girls .views-field-title span {
	padding: 15px;
	text-align: center;
	width: 100%;
	background: rgba(255, 255, 255, 0.5);
}

.site-primera-infancia .modal-cont-boys-girls #buttons-container .button-container button {
	background: #f75a51;
	color: white;
	text-transform: uppercase;
	font-size: 15px;
	border-radius: 5px;
	height: 45px;
	width: 150px;
	margin-top: 10px;
	white-space: pre-wrap;
	line-height: 1;
	display: -webkit-inline-flex;
	display: inline-flex;
	padding: 0;
	align-items: center;
}

.site-primera-infancia .modal-cont-boys-girls #buttons-container .button-container span {
	background: url('http://52.37.84.217/edu-primerainfancia/img/spretesheet.png') no-repeat;
	height: 35px;
	width: 35px;
	border-right: 1px solid white;
}

.site-primera-infancia .modal-cont-boys-girls #buttons-container .button-container:nth-child(1) span {
	background-position: 1px 3px;
}

.site-primera-infancia .modal-cont-boys-girls #buttons-container .button-container:nth-child(2) span {
	background-position: -31px -29px;
}

.site-primera-infancia .modal-cont-boys-girls #buttons-container .button-container:nth-child(3) span {
	background-position: 0px -29px;
}

.site-primera-infancia .modal-cont-boys-girls #buttons-container .button-container:nth-child(4) span {
	background-position: -33px 3px;
}

.site-primera-infancia .modal-cont-boys-girls #buttons-container .button-container:nth-child(5) span {
	background-position: -65px 3px;
}

.site-primera-infancia .modal-cont-boys-girls #buttons-container .button-container label {
	width: 110px;
	margin: 0;
	color: white;
	cursor: pointer;
}

.site-primera-infancia .modal-cont-boys-girls #buttons-container .button-container:nth-child(1) button,
.site-primera-infancia .modal-cont-boys-girls #buttons-container .button-container:nth-child(5) button {
	float: right;
}

.site-primera-infancia .modal-cont-boys-girls #buttons-container .button-container:nth-child(2),
.site-primera-infancia .modal-cont-boys-girls #buttons-container .button-container:nth-child(4) {
	text-align: center;
}

.site-primera-infancia .modal-cont-boys-girls #buttons-container .button-container button:hover {
	background: #5cd5c2 !important;
	-webkit-transition: all 200ms ease-out;
	-moz-transition: all 200ms ease-out;
	-ms-transition: all 200ms ease-out;
	-o-transition: all 200ms ease-out;
	transition: all 200ms ease-out;
}

.site-primera-infancia .secretariate-content h2 {
		margin: 30px 0 !important;
}

.site-primera-infancia .section_content .secretariate-content div > p {
		margin: 0 0 15px !important;
}

.site-primera-infancia .secretariate-content h3 {
		margin: 15px 0 !important;
		font-family: Helvetica,Arial,sans-serif;
}

.site-primera-infancia .secretariate-content .img-education-quality {
		max-height: 300px;
		margin: auto;
}

.site-primera-infancia .teachers-content .row:nth-child(2) > div > div > .panel-body {
		background: #F9EDE5;
}

.site-primera-infancia .secretariate-content .panel-heading,
.site-primera-infancia .teachers-content .panel-heading,
.site-primera-infancia .panel-heading {
		background: #16c0eb;
		color: white;
		font-size: 15px;
		text-transform: uppercase;
		font-weight: 600;
}

.site-primera-infancia .teachers-content .right-panel .panel-heading {
		background: #B2E6F9;
		color: #656565;
}

.site-primera-infancia .secretariate-content .right-panel-buttons .link-container li {
		background: #05ab99;
		color: white;
}

.site-primera-infancia .teachers-content .left-panel .btn-info {
		width: 110px;
		height: 125px;
		border: none;
		white-space: pre-wrap;
		font-size: 12px;
}

.site-primera-infancia .teachers-content .left-panel > div > button {
		background: url('http://52.37.84.217/edu-primerainfancia/img/bg-hetagono-1.png') no-repeat center / auto 100%;
}

.site-primera-infancia .teachers-content .left-panel > div:nth-child(even) > button:nth-child(1) {
	  margin-left: 60px;
}

.site-primera-infancia .teachers-content .left-panel > div {
    display: flex;
    justify-content: flex-start;
}

.site-primera-infancia .teachers-content .left-panel > div > button:hover {
		background: url('http://52.37.84.217/edu-primerainfancia/img/bg-hetagono-2.png') no-repeat center / auto 100%;
}

.site-primera-infancia .teachers-content .left-panel > div > button:nth-child(3) {
		margin-left: 9px
}

.site-primera-infancia .teachers-content .right-panel > div:nth-child(1) > div > div,
.site-primera-infancia .teachers-content .right-panel > div:nth-child(2) > div > div,
.site-primera-infancia .teachers-content .right-panel > div:nth-child(3) > div > div {
    padding: 0;
		display: flex;
		justify-content: center;
}

.site-primera-infancia .teachers-content .right-panel > div:nth-child(1) > div > div > button,
.site-primera-infancia .teachers-content .right-panel > div:nth-child(2) > div > div > button,
.site-primera-infancia .teachers-content .right-panel > div:nth-child(3) > div > div > button {
		width: 100px;
		height: 100px;
		white-space: normal;
		font-size: 12px;
		border-radius: 50%;
		margin: 3px;
		border: none;
}

.site-primera-infancia .teachers-content .right-panel > div:nth-child(1) > div > div > button {
		background: #5BD6C1;
}

.site-primera-infancia .teachers-content .right-panel > div:nth-child(2) > div > div > button {
		background: #04AA98;
}

.site-primera-infancia .teachers-content .right-panel > div:nth-child(3) > div > div > button {
		background: #087C6B;
}

.site-primera-infancia .teachers-content .right-panel > div:nth-child(1) > div > div > button:hover {
		background: #469e8f;
		-webkit-transition: all 200ms ease-out;
		-moz-transition: all 200ms ease-out;
		-ms-transition: all 200ms ease-out;
		-o-transition: all 200ms ease-out;
		transition: all 200ms ease-out;
}

.site-primera-infancia .teachers-content .right-panel > div:nth-child(2) > div > div > button:hover {
		background: #0a7b6f;
		-webkit-transition: all 200ms ease-out;
		-moz-transition: all 200ms ease-out;
		-ms-transition: all 200ms ease-out;
		-o-transition: all 200ms ease-out;
		transition: all 200ms ease-out;
}

.site-primera-infancia .teachers-content .right-panel > div:nth-child(3) > div > div > button:hover {
		background: #07594B;
		-webkit-transition: all 200ms ease-out;
		-moz-transition: all 200ms ease-out;
		-ms-transition: all 200ms ease-out;
		-o-transition: all 200ms ease-out;
		transition: all 200ms ease-out;
}

.site-primera-infancia .family-side-menu .views-field-title a {
		display: block;
		width: 100%;
		background: #ff5f5f;
		color: white;
		text-transform: uppercase;
		font-weight: 500;
		padding: 5px 10px;
}

.site-primera-infancia .family-side-menu img {
    padding-top: 15px;
}

.site-primera-infancia .family-side-menu .item-list li {
		position: relative;
    float: left;
		width: 100%;
		height: 175px;
		margin-bottom: 15px;
}

.site-primera-infancia .family-side-menu .item-list li > * {
		top: 0;
		left: 0;
		width: 100%;
		position: absolute;
}

.site-primera-infancia .family-side-menu .item-list li > *:first-child {
    display: flex;
    justify-content: center;
}

.site-primera-infancia .footer {
		border-top-left-radius: 15px;
		background: #f78747;
		padding: 10px;
		border-top-right-radius: 15px;
		margin-top: 15px;
}

.site-primera-infancia .footer a {
		height: 30px;
    width: 30px;
    margin: 0 0 0 15px;
		background: url('http://52.37.84.217/edu-primerainfancia/img/spritesheet-social.png');
		border-radius: 5px;
}

.site-primera-infancia .footer a:hover {
		background-color: rgba(255, 255, 255, 0.25);
}

.site-primera-infancia .footer .youtube-button {
		background-position: -91px -5px;
}

.site-primera-infancia .footer .twitter-button {
		background-position: -44px -5px;
}

.site-primera-infancia .footer .facebook-button {
	 background-position: -3px -5px;
}

@media (min-width: 992px) {
	.site-primera-infancia .secretariate-content .img-text-center {
			display: flex;
			align-items: center;
	}
}

@media (max-width: 991px) {
	.site-primera-infancia .family-side-menu .views-field-title a {
		margin: auto !important;
	}
	
	.site-primera-infancia .family-side-menu .item-list li {
		height: 150px;
	}
}

@media (min-width: 767px) {
	.site-primera-infancia .secretariate-content .right-panel-buttons .link-container li {
		  font-size: 15px;
			padding-left: 10px;
	}

	.site-primera-infancia .secretariate-content .right-panel-buttons .link-container li a {
			min-width: 65px
	}
}

@media (max-width: 768px) {
	.site-primera-infancia #container_buttons .modal-body li a {
		min-height: 85px;
	}

	.site-primera-infancia .modal-cont-boys-girls #buttons-container .button-container:nth-child(1) button,
	.site-primera-infancia .modal-cont-boys-girls #buttons-container .button-container:nth-child(5) button {
		float: none;
	}

	.site-primera-infancia .modal-cont-boys-girls #buttons-container .button-container:nth-child(2),
	.site-primera-infancia .modal-cont-boys-girls #buttons-container .button-container:nth-child(4) {
		text-align: left;
	}

	.site-primera-infancia .modal-cont-boys-girls #buttons-container .button-container span {
		width: 40px;
	}

	.site-primera-infancia .modal-cont-boys-girls #buttons-container .button-container button,
	.site-primera-infancia .modal-cont-boys-girls #buttons-container .button-container label {
		width: 100%;
	}
}
