.site-primera-infancia .home-accordion {
	padding-right: 0;
}

.site-primera-infancia .home-accordion h2 {
    width: 100%;
}

.site-primera-infancia .home-accordion .panel-heading, .site-primera-infancia #accordion .panel-heading {
	padding: 0;
}

.site-primera-infancia .home-accordion .panel-title, .site-primera-infancia #accordion .panel-title {
	margin-bottom: 0;
}

.site-primera-infancia .home-accordion .panel-group, .site-primera-infancia #accordion .panel-group {
	margin: 2px 0;
}

.site-primera-infancia .home-accordion .panel-group .panel+.panel, .site-primera-infancia #accordion .panel-group .panel+.panel{
	margin-top: 1px;
}

.site-primera-infancia .home-accordion .panel-title a, .site-primera-infancia #accordion .panel-title a {
	background: #5cd5c2;
    display: block;
    color: white;
    padding: 10px 15px;
    text-align: left;
}

.site-primera-infancia .home-accordion .panel-title a:hover,
.site-primera-infancia .home-accordion .panel-title a.collapsed:hover,
.site-primera-infancia #accordion .panel-title a:hover,
.site-primera-infancia #accordion .panel-title a.collapsed:hover{
	background: #5dada1 !important;
}

.site-primera-infancia .home-accordion .panel-title a[aria-expanded="true"],
.site-primera-infancia #accordion .panel-title a[aria-expanded="true"]{
	background: #f78747 !important;
}

.site-primera-infancia .home-accordion .panel-title a.collapsed,
.site-primera-infancia #accordion .panel-title a.collapsed {
	background: #5cd5c2 !important;
}

.site-primera-infancia .modal-dialog .modal-body,
.site-primera-infancia #accordion .panel-title a.collapsed {
	padding: 15px 24px;
}

.site-primera-infancia .modal-dialog .modal-body p {
	margin: 0 0 10px !important;
}

.site-primera-infancia .modal-dialog .modal-content {
	background: #fbfbfb;
}

.site-primera-infancia .modal-dialog .modal-content .modal-body .list-group li {
	background: transparent url('http://aprende.colombiaaprende.edu.co/ckfinder/userfiles/images/img-bullet.png') no-repeat 8px 15px / auto;
	border: none;
	padding: 10px 15px 10px 25px;
}

.site-primera-infancia .modal-dialog .modal-content .modal-body ol li {
	list-style: decimal;
}

.site-primera-infancia .modal-dialog .modal-header {
	border: none;
}

.site-primera-infancia .modal-dialog .modal-header .close {
	background: #5bd6c1;
	opacity: 0.8;
	border-radius: 50%;
	font-size: 35px;
	height: 30px;
	width: 30px;
	line-height: 0;
	padding: 0px 0 8px;
	text-align: center;
	font-weight: 500;
	color: white;
}

.site-primera-infancia .modal-dialog .modal-header .close:hover {
	background: #317f72 !important;
}

.site-primera-infancia .modal-dialog .modal-header h4 {
	color: #4c4c4c;
	margin: 0;
	text-transform: none;
	font-size: 30px !important;
	border-bottom: 1px solid #4c4c4c;
	display: inline-block;
}

.site-primera-infancia .modal-dialog .table tbody {
	border: 1px solid #666;
}

.site-primera-infancia .modal-dialog .table tr,
.site-primera-infancia .modal-dialog .table th,
.site-primera-infancia .modal-dialog .table td {
	border: none;
	background: #e3e3e3 !important;
}

.site-primera-infancia .modal-dialog .table tr th:first-child,
.site-primera-infancia .modal-dialog .table tr td:first-child {
	border-right: 1px solid #666;
}

.site-primera-infancia .modal-dialog .table tr th {
	color: #4c4c4c;
	font-size: 16px;
	font-weight: bolder !important;
}

.site-primera-infancia #container_buttons .modal-body li,
.site-primera-infancia .secretariate-content .link-container li,
.site-primera-infancia .teachers-content .link-container li {
	background: #b3e6f9;
	color: #087d6d;
	text-transform: uppercase;
	font-size: 20px;
	margin-bottom: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-height: 45px;
	padding-left: 15px;
}

.site-primera-infancia #container_buttons .modal-body li a,
.site-primera-infancia .secretariate-content .link-container li a,
.site-primera-infancia .teachers-content .link-container li a {
	float: right;
	background: #5cd5c2;
	color: white;
	font-size: 16px;
	width: 20%;
	min-height: 55px;
	min-width: 93px;
	align-items: center;
	display: flex;
	justify-content: center;
	line-height: 1;
}

.site-primera-infancia .modal-cont-boys-girls .views-row-1 {
	margin-top: 100px;
}

.site-primera-infancia .modal-cont-boys-girls .views-field-title {
	margin: 15px;
	display: flex;
}

.site-primera-infancia .modal-cont-boys-girls .views-field-title span {
	padding: 15px;
	text-align: center;
	width: 100%;
	background: rgba(255, 255, 255, 0.5);
}

.site-primera-infancia .modal-cont-boys-girls #buttons-container .button-container button {
	background: #f75a51;
	color: white;
	text-transform: uppercase;
	font-size: 15px;
	border-radius: 5px;
	height: 45px;
	width: 150px;
	margin-top: 10px;
	white-space: pre-wrap;
	line-height: 1;
	display: -webkit-inline-flex;
	display: inline-flex;
	padding: 0;
	align-items: center;
}

.site-primera-infancia .modal-cont-boys-girls #buttons-container .button-container span {
	background: url('http://52.37.84.217/edu-primerainfancia/img/spretesheet.png') no-repeat;
	height: 35px;
	width: 35px;
	border-right: 1px solid white;
}

.site-primera-infancia .modal-cont-boys-girls #buttons-container .button-container:nth-child(1) span {
	background-position: 1px 3px;
}

.site-primera-infancia .modal-cont-boys-girls #buttons-container .button-container:nth-child(2) span {
	background-position: -31px -29px;
}

.site-primera-infancia .modal-cont-boys-girls #buttons-container .button-container:nth-child(3) span {
	background-position: 0px -29px;
}

.site-primera-infancia .modal-cont-boys-girls #buttons-container .button-container:nth-child(4) span {
	background-position: -33px 3px;
}

.site-primera-infancia .modal-cont-boys-girls #buttons-container .button-container:nth-child(5) span {
	background-position: -65px 3px;
}

.site-primera-infancia .modal-cont-boys-girls #buttons-container .button-container label {
	width: 110px;
	margin: 0;
	color: white;
	cursor: pointer;
}

.site-primera-infancia .modal-cont-boys-girls #buttons-container .button-container:nth-child(1) button,
.site-primera-infancia .modal-cont-boys-girls #buttons-container .button-container:nth-child(5) button {
	float: right;
}

.site-primera-infancia .modal-cont-boys-girls #buttons-container .button-container:nth-child(2),
.site-primera-infancia .modal-cont-boys-girls #buttons-container .button-container:nth-child(4) {
	text-align: center;
}

.site-primera-infancia .modal-cont-boys-girls #buttons-container .button-container button:hover {
	background: #5cd5c2 !important;
}

.site-primera-infancia .secretariate-content h2 {
		margin: 30px 0 !important;
}

.site-primera-infancia .section_content .secretariate-content div > p {
		margin: 0 0 15px !important;
}

.site-primera-infancia .secretariate-content h3 {
		margin: 15px 0 !important;
}

.site-primera-infancia .secretariate-content .img-education-quality {
		max-height: 300px;
		margin: auto;
}

.site-primera-infancia .secretariate-content .panel-heading,
.site-primera-infancia .teachers-content .panel-heading,
.site-primera-infancia .panel-heading {
		background: #16c0eb;
		color: white;
		font-size: 15px;
		text-transform: uppercase;
		font-weight: 600;
}

.site-primera-infancia .teachers-content .right-panel .panel-heading {
		background: #B2E6F9;
		color: #656565;
}

.site-primera-infancia .secretariate-content .right-panel-buttons .link-container li {
		background: #05ab99;
		color: white;
}

@media (min-width: 992px) {
	.site-primera-infancia .secretariate-content .img-text-center {
			display: flex;
			align-items: center;
	}
}

@media (min-width: 767px) {
	.site-primera-infancia .secretariate-content .right-panel-buttons .link-container li {
		  font-size: 15px;
			padding-left: 10px;
	}

	.site-primera-infancia .secretariate-content .right-panel-buttons .link-container li a {
			min-width: 65px
	}
}

@media (max-width: 768px) {
	.site-primera-infancia #container_buttons .modal-body li a {
		min-height: 85px;
	}

	.site-primera-infancia .modal-cont-boys-girls #buttons-container .button-container:nth-child(1) button,
	.site-primera-infancia .modal-cont-boys-girls #buttons-container .button-container:nth-child(5) button {
		float: none;
	}

	.site-primera-infancia .modal-cont-boys-girls #buttons-container .button-container:nth-child(2),
	.site-primera-infancia .modal-cont-boys-girls #buttons-container .button-container:nth-child(4) {
		text-align: left;
	}

	.site-primera-infancia .modal-cont-boys-girls #buttons-container .button-container span {
		width: 40px;
	}

	.site-primera-infancia .modal-cont-boys-girls #buttons-container .button-container button,
	.site-primera-infancia .modal-cont-boys-girls #buttons-container .button-container label {
		width: 100%;
	}
}
