.site-primera-infancia .preschool-home-content .bg-white.tecnical-documents ul li {
	overflow: hidden;
}

.site-primera-infancia .preschool-home-content .bg-white.tecnical-documents ul li > a > * {
	float: left;
}

.site-primera-infancia .preschool-home-content .bg-white.tecnical-documents ul li > a .img-item {
	width: 90px;
}

.site-primera-infancia .preschool-home-content .bg-white.tecnical-documents .boddy-doc {
	width: calc(78% - 90px);
	display: flex;
	align-items: center;
	text-align: left;
}

.site-primera-infancia .preschool-home-content .bg-white.tecnical-documents .boddy-doc p {
	font-size: 13px;
}

@media (max-width: 991px) {
		.site-primera-infancia .preschool-home-content .bg-white.tecnical-documents h3 {
			width: 105% !important;
		}

		.site-primera-infancia .preschool-home-content .col-md-8.bg-white,
		.site-primera-infancia .preschool-home-content .col-md-4.bg-white {
			width: 100%;
		}

		.site-primera-infancia .preschool-home-content .bg-white.tecnical-documents .boddy-doc p {
			font-size: 14px;
		}

		.site-primera-infancia .library {
			display: flex;
			justify-content: center;
			width: 100%;
			background-position: center;
		}

		.site-primera-infancia .button-modals-section .row {
			margin: 0;
		}
}
@media (min-width: 768px) and (max-width: 992px){
	.site-primera-infancia #primera_infancia_home_slider .views_slideshow_slide > div .views-field-body {
		top: 76%;
	}
}
@media (min-width: 768px) {
		.site-primera-infancia .main-menu .menu {
				display: flex;
		}
		.site-primera-infancia .section_content p.lead{
		  margin: 2vw 7vw !important;
		}
}
@media (max-width: 767px) {
	.section_container.no_left_sidebar .section_content {
		width: 100% !important;
	}

	.site-primera-infancia .main-menu {
		width: auto;
	}
	.site-primera-infancia .main-menu > .pane-content > ul > li {
		height: 50px !important;
	}

	.site-primera-infancia .main-menu > .pane-content > ul > li:first-child a,
	.site-primera-infancia .main-menu > .pane-content > ul > li:nth-child(2) a,
	.site-primera-infancia .main-menu > .pane-content > ul > li:nth-child(3) a,
	.site-primera-infancia .main-menu > .pane-content > ul > li:nth-child(4) a,
	.site-primera-infancia .main-menu > .pane-content > ul > li:nth-child(5) a,
	.site-primera-infancia .main-menu > .pane-content > ul > li:last-child a {
		background-position: 0 -30px !important;
		height: 100% !important;
		display: flex !important;
		align-items: center;
		justify-content: center;
		font-size: 12px !important;
	}

	.site-primera-infancia .main-menu > .pane-content > ul > li:last-child a {
		border-radius: 0;
	}

	.site-primera-infancia .main-menu > .pane-content > ul > li,
	.site-primera-infancia .main-menu > .pane-content > ul > li:first-child a {
		-webkit-border-radius: 20px 20px 0 0;
		border-radius: 20px 20px 0 0;
	}

	.site-primera-infancia #primera_infancia_home_slider {
    margin: -25px 0 0;
    overflow: hidden;
	}

	.site-primera-infancia #primera_infancia_home_slider .views-slideshow-controls-top {
		top: 20vw;
	}

	.site-primera-infancia #primera_infancia_home_slider .views_slideshow_slide > div .views-field-body {
		top: 0;
		right: 0;
		height: 100%;
		padding: 15px 60px;
		display: flex;
		align-items: flex-end;
		background-color: rgba(5, 171, 153, 0.75);
	}

	.site-primera-infancia #primera_infancia_home_slider {
		height: auto;
	}

	.site-primera-infancia .social-butons {
		display: flex;
    align-items: center;
    justify-content: flex-end;
	}

	.site-primera-infancia .social-butons button {
		margin: 0 !important;
	}

	.site-primera-infancia .social-butons button:first-child {
		margin-right: 15px !important;
	}

	.site-primera-infancia .pedagogical-tip {
		background-image: none;
	}

	.site-primera-infancia .pedagogical-tip .views-field .field-content p,
	.site-primera-infancia .pedagogical-tip .pedagogical-tip-title a {
		width: 100%;
		margin: 0 !important;
		padding: 5px 60px;
	}

	.site-primera-infancia .pedagogical-tip {
		height: auto;
		background: #05ab99;
		padding: 0 0 20px;
	}

	.site-primera-infancia #views_slideshow_controls_text_primera_infancia-panel_pane_3 {
		opacity: 0.8;
	}

	.site-primera-infancia .section_content p.lead{
	  margin: 4vw 7vw !important;
	}
}
